.avatar {
    width: 2.5rem;
    height: 2.5rem;
}

/* body {
    background-color: #f3f5fa;
}
 */
.nav-link {
  outline: none;
}

.btn-block {
  width: 100%;
  margin: 10px 0;
  text-align: left;
  line-height: 25px;
}

.btn-block i {
  float: left;
  margin: 4px 15px 0 5px;
  min-width: 15px;
}

.btn-github {
  color: #fff;
  background-color: #555555;
  border-color: #555555;
}

.btn-github:hover {
  background-color: #333333;
  color: #fff;
}

.btn-gitlab {
  color: #fff;
  background-color: #fc6d26;
  border-color: #fc6d26;
}

.btn-gitlab:hover {
  background-color: #f16924;
  color: #fff;
}

.btn-meetup {
  color: #fff;
  background-color: #F65858;
  border-color: #F65858;
}

.btn-meetup:hover {
  background-color: #F42C2C;
  color: #fff;
}

#modalLogin .modal-body {
  padding-top: 30px;
  padding-bottom: 30px;
}

#modalLogin {
  background-color: rgba(247, 247, 247, 0.7);
}

.toast {
  background-color: white;
}

body {
    position: relative;
    margin: 0;
}

@media(min-width: 1000px) {
    body {
        height: 100%;
        min-height: 100vh;
        padding-bottom: 20rem;

    }
}

footer {
    background-color: #333;
    color: #fff;
    padding-top: 2em;
    padding-bottom: 2em;
}

@media(min-width: 1000px) {
    .footer-position {
        bottom: 0px;
        position: absolute;
    }
}

#toast-container {
    position: absolute;
    bottom: 0;
    right: 0;
    overflow-y: auto;
}

footer {
    max-height: inherit;
    padding-bottom: 0;
    padding-top: 1em;
}
