
.card-header {
    /*background-color: white;*/
    font-size: 18px;
    font-weight: 300;
}

.card {
    margin-bottom: 20px;
}


.login-container {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 3px;
    position: absolute;
}

.header-dashboard {
    text-align: justify;
    padding: 10px;
    margin-bottom: 10px;
}


.info-panel {
    background-color: #f7f7f7;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    padding: 15px;
}

#logger-body {
    background-color: #555555;
    padding: 15px;
    overflow: scroll;
    width: 100%;
    margin: 10px;
}

.log-content {
    color: white;
}

#open-kibana {
    margin: 0 5px;
    border-radius: 0%;
}

#open-kibana-public {
    text-align: center;
}