{% extends "base.html" %}
{% load static %}

{% block css%}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}


{% block content %}

    <div class="container-fluid">




      <div class="row">

        <!-- ADD REPOS SIDE -->
        {% if editable %}
        <div class="col-md-3">
          <div class="header-dashboard">
            <h4>Add data sources</h4>
          </div>
          <!-- GITHUB CARD -->
          <div class="card shadow-sm">
            <div class="card-header">
              <div class="title">
                <i class="fab fa-github"></i><strong> GitHub</strong>
                <button type="button" class="btn btn-light btn-sm" data-toggle="tooltip" style="float:right" title="This will add GitHub and Git repositories to the analysis">
                  <i class="fas fa-info-circle"><span class="sr-only"> GitHub info</span></i>
                </button>
              </div>
            </div>
            <div class="card-body">

              <form action="" method="post" id="gh_add">
                {% csrf_token %}
                <div class="form-group">
                  <div class="input-group">
                    <input type="text" class="form-control" id="gh_data" name="data" placeholder="github owner or owner/repository or url">
                    <input type="hidden" name="backend" value="github">
                    <input type="hidden" name="action" value="add">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="submit">Add</button>
                    </div>
                  </div>
                </div>
              </form>

            </div>

          </div>
          <!-- end GITHUB CARD -->

          <!-- GIT CARD -->
          <div class="card shadow-sm">
            <div class="card-header">
              <div class="title">
                <i class="fab fa-git-square"></i><strong> Git</strong>
                <button type="button" class="btn btn-light btn-sm" data-toggle="tooltip" style="float:right" title="This will add Git repositories to the analysis">
                  <i class="fas fa-info-circle"><span class="sr-only"> Git info</span></i>
                </button>
              </div>
            </div>
            <div class="card-body">

              <form action="" method="post" id="git_add">
                {% csrf_token %}
                <div class="form-group">
                  <div class="input-group">
                    <input type="text" class="form-control" id="git_data" placeholder="git repository url" name="data">
                    <input type="hidden" name="backend" value="git">
                    <input type="hidden" name="action" value="add">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="submit">Add</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <!-- end GIT CARD -->

          <!-- GITLAB CARD -->
          <div class="card shadow-sm">

            <div class="card-header">
              <div class="title">
                <i class="fab fa-gitlab"></i><strong> GitLab</strong>
                <button type="button" class="btn btn-light btn-sm" data-toggle="tooltip" style="float:right" title="This will add GitLab and Git repositories to the analysis">
                  <i class="fas fa-info-circle"><span class="sr-only"> GitLab info</span></i>
                </button>
              </div>
            </div>

            <div class="card-body">

              <form action="" method="post" id="gl_add">
                {% csrf_token %}
                <div class="form-group">

                  <div class="input-group">
                    <input type="text" class="form-control" id="gl_data" name="data" placeholder="gitlab owner or owner/repository or url">
                    <input type="hidden" name="backend" value="gitlab">
                    <input type="hidden" name="action" value="add">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="submit">Add</button>
                    </div>
                  </div>
                </div>
              </form>


            </div>

          </div>
          <!-- end GITLAB CARD -->

          <!-- MEETUP CARD -->
          <div class="card shadow-sm">

            <div class="card-header">
              <div class="title">
                <i class="fab fa-meetup"></i><strong> Meetup</strong>
                <button type="button" class="btn btn-light btn-sm" data-toggle="tooltip" style="float:right" title="This will add Meetup group to the analysis">
                  <i class="fas fa-info-circle"><span class="sr-only"> Meetup info</span></i>
                </button>
              </div>
            </div>

            <div class="card-body">

              <form action="" method="post" id="meetup_add">
                {% csrf_token %}
                <div class="form-group">

                  <div class="input-group">
                    <input type="text" class="form-control" id="meetup_data" name="data" placeholder="group url or group id or event url">
                    <input type="hidden" name="backend" value="meetup">
                    <input type="hidden" name="action" value="add">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="submit">Add</button>
                    </div>
                  </div>
                </div>
              </form>


            </div>

          </div>
          <!-- end MEETUP CARD -->

          <div class="alert alert-info" role="alert">
            It is planned for the future to add more data sources (like Discourse or Slack), but feel free to suggest any other data source option via the feedback button!
          </div>
        </div>
        {% endif %}

        <!-- LIST REPOS SIDE -->
        {% if editable %}
        <div class="col-md-9">
        {% else %}
        <div class="col-md-12">
        {% endif %}
          <div class="container">
              <div class="header-dashboard">
                {% if dashboard %}
                  <div class="row">
                    <div class="col-md-7">
                      <h2>
                        <strong><span id="dash_name">{{dashboard.name}}</span></strong>
                        {% if editable %}
                        <a href="#" id="edit-name"><i class="far fa-xs fa-edit"></i></a>
                        {% endif %}
                      </h2>
                    </div>
                    <div class="col-md-5">
                      <div class="btn-group btn-group-lg">
                        <a id="open-kibana"
                          class="btn btn-primary {% if repositories|length == 0 or not editable %}disabled{% endif %}"
                          href="/dashboard/{{dash_id}}/kibana"
                          target="_blank">
                          <i class="fa fa-chart-bar"></i> Private dashboard
                        </a>

                        <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                          id="btn-public-link"
                          class="btn btn-primary {% if repositories|length == 0 %}disabled{% endif %}">
                          <i class="fa fa-chart-bar"></i> Public dashboard
                        </button>

                        <div class="dropdown-menu">
                          <form class="px-3 py-2">
                            <div class="form-group">
                              <a id="open-kibana-public"
                              class="btn btn-primary btn-block {% if repositories|length == 0 %}disabled{% endif %}"
                              href="{{public_link}}"
                              target="_blank">
                              Open
                              </a>
                            </div>
                            <div class="form-group">
                              <label for="url-public-link-kibana">Share:</label>
                              <div class="input-group">
                                <input type="text" class="form-control" id="url-public-link-kibana" value="{{public_link}}" readonly>
                                <div class="input-group-append">
                                  <button class="btn btn-outline-primary" type="button" id="copy-share-link-kibana" data-toggle="tooltip" data-placement="bottom" title="Copy"><i class="far fa-copy"></i></button>
                                </div>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                {% else %}
                  <h3>Dashboard not found</h3>
                {% endif %}
              </div>
            <div class="body-dashboard pt-2">
              {% if dashboard %}
              <div>
                <div>
                  <strong><span id="num-repos-filter">0</span></strong> data sources found

                  <span class="dropdown backend-filters">
                    <button class="badge btn btn-light dropdown-toggle" type="button" id="btn-filter-backend" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                    </button>
                    <div class="dropdown-menu" aria-labelledby="btn-filter-backend">
                      <a class="backend-item dropdown-item active" data-filter-type="backend" data-filter="any" href="#">Any</a>
                      <a class="backend-item dropdown-item" data-filter-type="backend" data-filter="git" href="#">Git</a>
                      <a class="backend-item dropdown-item" data-filter-type="backend" data-filter="github" href="#">GitHub</a>
                      <a class="backend-item dropdown-item" data-filter-type="backend" data-filter="gitlab" href="#">GitLab</a>
                      <a class="backend-item dropdown-item" data-filter-type="backend" data-filter="meetup" href="#">Meetup</a>
                    </div>
                  </span>

                  <span class="dropdown status-filters">
                    <button class="badge btn btn-light dropdown-toggle" type="button" id="btn-filter-status" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                    </button>
                    <div class="dropdown-menu" aria-labelledby="btn-filter-backend">
                      <a class="backend-item dropdown-item active" data-filter-type="status" data-filter="all" href="#">All</a>
                      <a class="backend-item dropdown-item" data-filter-type="status" data-filter="pending" href="#">Pending</a>
                      <a class="backend-item dropdown-item" data-filter-type="status" data-filter="running" href="#">Running</a>
                      <a class="backend-item dropdown-item" data-filter-type="status" data-filter="completed" href="#">Completed</a>
                      <a class="backend-item dropdown-item" data-filter-type="status" data-filter="error" href="#">Error</a>
                    </div>
                  </span>
                  <p>
                    <small id="general-status"></small>
                    {% if editable %}
                    <button type="button" class="btn btn-outline-dark btn-reanalyze-all" style="float:right; margin-bottom:10px" data-repo="{{repo.id}}"><i class="fa fa-sync"></i> Refresh all</button>
                    {% endif %}
                  </p>

                </div>
                <div class="table-responsive">
                  <table class="table table-hover repos-table">
                    <thead>
                      <tr>
                        <th scope="col" class="text-muted">Status</th>
                        <th scope="col">Data source</th>
                        <th scope="col">Last refresh</th>
                        <th scope="col">Duration</th>
                        <th scope="col"></th>
                        {% if editable %}
                        <th scope="col"></th>
                        <th scope="col"></th>
                        {% endif %}
                      </tr>
                    </thead>

                    <tbody>
                    {% for repo in repositories %}
                      <tr class="repo-entry" id="repo-{{repo.id}}" data-backend="{{repo.backend}}" data-status="">
                        <td class="repo-status">
                          <div class="spinner-border spinner-border-sm" role="status">
                            <span class="sr-only">Loading...</span>
                          </div>
                        </td>
                        <td class="repo-url">
                          {% if repo.backend == "github" %}
                          <i class="fab fa-github"></i>
                          {% elif repo.backend == "gitlab" %}
                          <i class="fab fa-gitlab"></i>
                          {% elif repo.backend == "meetup" %}
                          <i class="fab fa-meetup"></i>
                          {% else %}
                          <i class="fab fa-git-square"></i>
                          {% endif %}
                          {{ repo.url }}
                        </td>
                        <td>
                          <i class="fas fa-calendar-alt text-muted"></i>
                          <span class="repo-last-update" style="font-size: small;">
                              <div class="spinner-border spinner-border-sm" role="status">
                                <span class="sr-only">Loading...</span>
                              </div>
                          </span>
                        </td>
                        <td>
                          <i class="fas fa-stopwatch text-muted"></i>
                          <span class="repo-duration" style="font-size: small;">
                            <div class="spinner-border spinner-border-sm" role="status">
                              <span class="sr-only">Loading...</span>
                            </div>
                          </span>
                        </td>
                        <td>
                          <button type="button" class="btn btn-sm btn-outline-info" data-toggle="modal" data-target="#logModal" data-repo="{{repo.id}}">
                            <i class="fa fa-info"></i> <small>Logs</small>
                          </button>
                        </td>
                        {% if editable %}
                        <td>
                            <button type="button" class="btn btn-sm btn-outline-danger btn-delete" data-repo="{{repo.id}}">
                              <i class="fa fa-trash-alt"></i> <small>Delete</small>
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-sm btn-outline-dark btn-reanalyze" data-repo="{{repo.id}}">
                              <i class="fa fa-sync"></i> <small>Refresh</small>
                            </button>
                        </td>
                        {% endif %}
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
                {% if repositories|length == 0 %}
                  <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <div class="row">
                      <div class="col-sm-2">
                        <i class="fas fa-arrow-left"></i>
                      </div>
                      <div class="col-sm-10">
                        <p><strong>Start adding data sources!</strong></p>
                        <p>Projects are defined by set of different data sources. Add them with the tools in the side bar.</p>

                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>

                      </div>
                    </div>
                  </div>
                  {% endif %}
              </div>
              {% endif %}
          </div>
        </div>

        </div>
      </div>
    </div>

    <div class="modal fade" id="logModal" tabindex="-1" role="dialog" aria-labelledby="logModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="logModalLabel">Data source logs</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div id="logger-body">
              <pre class="logger"><code class="log-content">Loading...</code></pre>
            </div>
          </div>
        </div>
      </div>
    </div>



{% endblock %}


{% block javascript %}
<script src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="{% static 'js/dashboard.js' %}" charset="utf-8"></script>
{% endblock %}
