{% extends "base.html" %}
{% load static %}

{% block css%}
{% endblock %}


{% block content %}
    <!-- Container for ALPHA version -->
    <div class="container" id="alert-alpha">
      <div class="alert alert-warning" role="alert">
        This is an alpha version of the Cauldron. All data can be removed without prior notice. Feedback is welcome!
      </div>
    </div>
    <!-- END container for ALPHA version -->

    <div class="container">
      <div class="jumbotron">
        <h1 class="display-4">Welcome to Cauldron <small>(&alpha; version)</small>!</h1>
        <p class="lead">Create an analytics environment for the software development projects that matter to you!</p>
        <hr class="my-4">
        <p style="font-size:130%">The Cauldron is a <abbr title="Proof of Concept">PoC</abbr> service developed by <a href="https://bitergia.com" target="_blank">Bitergia</a> to analyze community and processes in software development projects.</p>
        <form action="/dashboard" method="post" id="create-dashboard">
          {% csrf_token %}
          <div class="form-group" style="float:right">
            <div class="input-group">
              <button class="btn btn-primary btn-lg" role="button" type="submit">Analyze a project</button>
            </div>
          </div>
        </form>
      </div>

      {% if your_dashboards|length == 0 %}
      <div class="container">
        <div class="alert alert-info" role="alert">
          <p>Cauldron allows you to easily gather, enrich and visualize data from different data sources like Git, GitHub, GitLab or Meetup.</p>
          <p>You can create your own projects (aka Dashboards) and add data to them. The data will be enriched and you will be able to visualize it in different panels that can be shared just copying its link.</p>
        </div>
      </div>
      {% endif %}

      {% if authenticated %}
      <div class="row">
        <div class="col-md-12">
          <div class="card shadow-sm mb-3">


            <div class="card-header">
              <h4 class="font-weight-normal">My dashboards</h4>
            </div>


            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col">Status</th>
                      <th scope="col">Data sources</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for db in your_dashboards %}
                    <tr>
                      <td><a href="/dashboard/{{db.id}}">{{db.name}}</a></td>
                      <td>{{db.status}}</td>
                      <td>{{db.completed}}/{{db.total}}</td>
                      <!--<td>{{db.creator}}</td>-->
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>

          </div>
        </div>
      </div>
      {% endif %}

    </div>
{% endblock %}
